<title>RBs Roman Converter</title>
<div class='header_link'>
    <a href='/' class='link'>Want to Romanize?</a>
</div>
<div class='form_holder'>
    <form method='post' action='/deromanize'>
        <input type='text' name='to_arabic' required>
        <input type='submit' value='De-Romanize!'>
    </form>
    <div class='number'>
        <%= arabic_number %>
    </div>
</div>