<title>RBs Roman Converter</title>
<div>
    <a href='/'>Want to Romanize?</a>
</div>
<div>
    <form method='post' action='/deromanize'>
        <input type='text' name='to_arabic' required>
        <input type='submit' value='De-Romanize!'>
    </form>
    <div style='display: block; background-color: cyan;'>
        <%= arabic_number %>
    </div>
</div>