<title>RBs Roman Converter</title>
<div class='header_link'>
    <a href='/deroman' class='link'>Want to De-Romanize?</a>
</div>
<div class='form_holder'>
    <form method='post' action='/romanize'>
        <input type='number' name='to_roman' min='1' max='999999999' required>
        <input type='submit' value='Romanize!'>
    </form>
    <div class='number'>
        <%= roman_numeral %>
    </div>
</div>